mixin sQualification()
	// start sQualification
	+b.SECTION.sQualification.section#sQualification&attributes(attributes)
		.container
			+b.section-title
				h2 sQualification
				
			.row
				+b.section-title
					h2 Работаем только #[span.text-primary со стоматологами высочайшей квалификации]
				p Они минимум 2 раза в год учатся новому на профильных конференциях, ездят стажироваться у зарубежных специалистов.
				p Наш врач Шевцов А. А. — лектор компании Neodent (Straumann Groupe). Это помогает нам первыми узнавать обо всех исследованиях и проверенных инновациях в стоматологии..
	// end sQualification