mixin qualification-thumb(imgNum,t)
	.swiper-slide
		+e.thumb-img
			img.res-i.swiper-lazy(src="#" data-src=`img/@2x/qualification-thumb-${imgNum}.jpg` alt="")
		+e.name= t

mixin sQualification-slide()
	.swiper-slide
		+e.slide-img
			img.res-i.swiper-lazy(src="#" data-src=`img/@2x/technology-3.jpg` alt="")

mixin sQualification()
	// start sQualification
	+b.SECTION.sQualification#sQualification&attributes(attributes)
		.container
				
			.row
				+e.textCol.col-lg-7
					+e.textSlider
						.swiper-container.sQualification-text-slider-js
							.swiper-wrapper
								mixin textSlide()
									.swiper-slide
										+b.section-title
											h2 Работаем только #[span.text-primary со стоматологами высочайшей квалификации]
										p Они минимум 2 раза в год учатся новому на профильных конференциях, ездят стажироваться у зарубежных специалистов.
										if block
											block
										else
											p Наш врач Шевцов А. А. — лектор компании Neodent (Straumann Groupe). Это помогает нам первыми узнавать обо всех исследованиях и проверенных инновациях в стоматологии..
								+textSlide()
								+textSlide()
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa possimus dolores cum adipisci? Perspiciatis in iste vitae dolore ipsum explicabo esse molestiae quisquam minima! Delectus quia reprehenderit est unde deleniti.
								+textSlide()
								+textSlide()
								+textSlide()
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolore minima itaque earum! Suscipit aliquid dolorum distinctio, facilis animi incidunt et ex, voluptate sapiente eius alias in ipsum. Maiores, doloribus?
					+e.tumbs
						+e.tumbWrap
							.qualification-thumb-prev
								+icon('sliderArrow')
							.swiper-container.qualification-thumb-js
								.swiper-wrapper
									+qualification-thumb('1','ГРИГОРЯН АРТЁМ РОМАНОВИЧ')
									+qualification-thumb('2','ГРИГОРЯН АРТЁМ РОМАНОВИЧ')
									+qualification-thumb('3','АГАФОНОВА АННА ВЛАДИМИРОВНА')
									+qualification-thumb('4','АГАФОНОВА АННА ВЛАДИМИРОВНА')
									+qualification-thumb('1','АГАФОНОВА АННА ВЛАДИМИРОВНА')
							.qualification-thumb-next
								+icon('sliderArrow')
				+e.col.col-lg
					+e.slider
						.swiper-container.sQualification-slider-js
							.swiper-wrapper
								+sQualification-slide()
								+sQualification-slide()
								+sQualification-slide()
								+sQualification-slide()
								+sQualification-slide()

	// end sQualification