mixin sForm()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
		.container
			.row
				+e.col.col-lg-auto
					+b.section-title
						h2 #[span.text-primary Записаться на развёрнутую консультацию], даже если вас ничего не беспокоит. Скидка 20%
						strong Многие заболевания вначале проходят незаметно, а&nbsp;потом доставляют много проблем. Большая часть лечится безболезненно на&nbsp;начальной стадии. Главное&nbsp;&mdash; вовремя обнаружить.
					.h5 За 1 час консультации:
					ol
						li Исследуем ротовую полость по&nbsp;передовым протоколам Бернского университета (Швейцария)&nbsp;&mdash; никаких заболеваний не&nbsp;пропустим
						li Приглашаем ортодонтов или имплантологов, делаем снимок, 3D-визуализацию вашей улыбки (при необходимости)
						li #[strong Презентуем план лечения или гигиены], даём развернутые ответы на&nbsp;все ваши вопросы. И&nbsp;всё это понятным языком.
						li #[strong Консилиум наших врачей исследует влияние] всех систем организма на&nbsp;проблему. Комплексно. Составляем план лечения и&nbsp;фиксируем стоимость.
					+e.date до 16 сентября
					+e.arrow
						img(loading="lazy" src="img/svg/formArrow.svg", alt="")
				+e.formCol.col-lg
					+form-wrap()(class="--form-h")
						+e.headline Запишитесь на проффесиональную консультацию к стоматологу прямо сейчас
						+e.body
							+e.text.h6 Улыбнитесь, #[span.text-primary вы невероятны!|]
							+input("",'tel')
							+e.small Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
							+e.btn(type="submit") Записаться на&nbsp;консультацию

				
	// end sForm
