mixin sForm()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
		.container
			.row
				+e.col.col-lg-auto
					+b.section-title
						h2 #[span.text-primary Записаться на развёрнутую консультацию], даже если вас ничего не беспокоит. Скидка 20%
						strong Многие заболевания вначале проходят незаметно, а потом доставляют много проблем. Большая часть лечится безболезненно на&nbsp;начальной стадии. Главное&nbsp;&mdash; вовремя обнаружить.
					.h5 За 1 час консультации:
					ol
						li Исследуем ротовую полость по&nbsp;передовым протоколам Бернского университета (Швейцария)&nbsp;&mdash; никаких заболеваний не&nbsp;пропустим
						li Приглашаем ортодонтов или имплантологов, делаем снимок, 3D-визуализацию вашей улыбки (при необходимости)
						li #[strong Презентуем план лечения или гигиены], даём развернутые ответы на&nbsp;все ваши вопросы. И&nbsp;всё это понятным языком.
						li #[strong Консилиум наших врачей исследует влияние] всех систем организма на&nbsp;проблему. Комплексно. Составляем план лечения и&nbsp;фиксируем стоимость.
					+e.date.d-none.d-sm-block до 16 сентября
					+e.arrow.d-none.d-lg-block
						img(loading="lazy" src="img/svg/formArrow.svg", alt="")
				+e.formCol.col-lg
					+form-wrap()(class="--form-h")
						+e.headline Запишитесь на проффесиональную консультацию к стоматологу прямо сейчас
						+e.body
							+e.text.h6 Улыбнитесь, #[span.text-primary.typed-js]
							+input("+380 (99) 999-99-99",'tel')
							+e.small Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
							+e.btn(type="submit") Записаться на&nbsp;консультацию

				
	// end sForm

mixin sForm-02()
	// start sForm
	+b.sForm.section.sForm--02#sForm&attributes(attributes)
		.container
			.row
				+e.col.col-lg-auto
					+b.section-title
						+e.small Стоматология доказательной медицины #[span.text-primary Харькова]
						h2 #[span.text-primary Имплантация зубов под ключ — ]установим импланты № 1 в мире. Без боли, с пожизненной гарантией&nbsp;и с 20% скидкой
						strong Возможна экспресс-имплантация за 1 день
					.h5 На первых двух консультациях:
					ol
						li Проведём #[strong обследование вашей ротовой] полости по передовым протоколам Бернского университета (Швейцария). Сделаем КТ и все необходимые анализы.
						li #[strong Создадим цифровые оттиски зубов] — компьютерную 3D-модель всей полости рта.
						li Виртуально #[strong поставим импланты на вашу 3D модель.] То есть ещё до лечения вы увидите, как будет выглядеть результат.
						li Составим поэтапный план лечения и #[strong укажем фиксированную стоимость.] Меняться она не будет.
					+e.date.d-none.d-sm-block до 16 сентября
					+e.arrow.d-none.d-lg-block
						img(loading="lazy" src="img/svg/formArrow.svg", alt="")
				+e.formCol.col-lg
					+form-wrap()(class="--form-h")
						+e.headline Запишитесь на проффесиональную консультацию к стоматологу прямо сейчас
						+e.body
							+e.text.h6 Гарантируем решение проблемы один раз и на всю жизнь
							+input("+380 (99) 999-99-99",'tel')
							+e.small Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
							+e.btn(type="submit") Записаться на&nbsp;консультацию
	// end sForm-02


mixin sForm-04()
	// start sForm-04
	+b.sForm.section#sForm&attributes(attributes)
		.container
			.row
				+e.col.col-lg-auto.form03
					+b.section-title
						+e.small Стоматология доказательной медицины #[span.text-primary Харькова]
						h2 #[span.text-primary Лечим зубы под микроскопом с&nbsp;компьютерной анестезией] и&nbsp;с&nbsp;гарантией результата (лечим кариес, гингивит, пульпит, пародонтит, периодонтит)
						strong Ставим пломбы из&nbsp;фотополимерных композитов. Сохраняем зубы даже тогда, когда другие стоматологи хотят их&nbsp;удалять
					.h5 Но&nbsp;сначала поставим точный диагноз во&nbsp;время консультации:
					ol
						li #[strong Обследуем вашу ротовую] полость по&nbsp;передовым протоколам Universit&auml;t Bern (Швейцария)
						li #[strong Проведём водные и&nbsp;воздушные пробы, а&nbsp;также Freeze test&nbsp;&mdash; это тест с&nbsp;использованием низких температур.] Делаем ренгтен-диагностику и&nbsp;специальным маркером окрашиваем все пораженные кариесом участки
						li #[strong Консилиум врачей] во&nbsp;главе с&nbsp;вашим лечащим стоматологом составит план лечения и&nbsp;#[strong зафиксирует стоимость.] Меняться она не&nbsp;будет.
					+e.arrow.d-none.d-xl-block
						img(loading="lazy" src="img/svg/formArrow.svg", alt="")
				+e.formCol.col-lg
					+form-wrap()(class="--form-h")
						+e.headline Оставьте свой номер телефона и&nbsp;запишитесь на&nbsp;консультацию по&nbsp;лечению зубов #[span.text-primary без боли]
						+e.body
							+e.text.h6 Иногда лечим зубы без сверления, по&nbsp;технологии #[b Icon]
							+input("+380 (99) 999-99-99",'tel')
							+e.small Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
							+e.btn(type="submit") Записаться на&nbsp;консультацию

	// end sForm-04

mixin sForm-05()
	// start sForm-05
	+b.sForm--05.section#sForm&attributes(attributes)
		.container
			.row
				+e.col.col-lg-auto
					+b.section-title
						+e.small Стоматология доказательной медицины #[span.text-primary Харькова]
						h2 #[span.text-primary Безопасное отбеливание зубов системой Zoom 4 ] последнего поколения за 1,5 часа — без боли, держится 2 года
						p #[strong.text-primary + подарок] индивидуальные капы для домашнего отбеливания. А ещё дарим #[strong 15% скидку]
					.h5 Но сначала бесплатная консультация, на которой:
					ol
						li #[strong Исследуем ротовую полость] по передовым протоколам Universität Bern (Швейцария). Если есть заболевания зубов или дёсен, их нужно лечить.
						li #[strong Порекомендуем профессиональную чистку зубов,] если это будет необходимо. Отбеливать зубной налёт и зубные камни — выкидывать деньги на ветер
						li #[strong Определим, какой цвет эмали вы хотите] и сможем ли мы его достичь, учитывая ваш оригинальный цвет зубов.
					+e.date.d-none.d-sm-block до 16 сентября
					+e.arrow.d-none.d-lg-block
						img(loading="lazy" src="img/svg/formArrow.svg", alt="")
				+e.formCol.col-lg
					+form-wrap()(class="--form-h")
						+e.headline Оставьте номер телефона и придите на бесплатную консультацию
						+e.body
							+e.text.h6 Определим, есть&nbsp;ли у&nbsp;вас противопоказания, и&nbsp;наглядно покажем какой цвет эмали будет после отбеливания
							+input("+380 (99) 999-99-99",'tel')
							+e.small Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
							+e.btn(type="submit") Пройти на бесплатную консультацию

	// end sForm-05


mixin sForm-06()
	// start sForm-06
	+b.sForm.section#sForm&attributes(attributes)
		.container
			.row
				+e.col.col-lg-auto
					+b.section-title
						+e.small Стоматология доказательной медицины #[span.text-primary Харькова]
						h2 #[span.text-primary Ультразвуковая vip-чистка зубов] без боли по&nbsp;европейским протоколам с&nbsp;20% скидкой
					.h5 За&nbsp;#[strong 1,5&ndash;2] часа (#[strong 1]&nbsp;сеанс каждые полгода):
					ol
						li Исследуем ротовую полость по&nbsp;передовым протоколам Бернского университета (Швейцария). Прокрашиваем зубы и&nbsp;составляем пародонтальную карту&nbsp;&mdash; это кардиограмма для зубов, которая #[strong помогает контролировать заболевания.]
						li Удаляем все зубные камни новым распылителем ProSmile Handy #[strong без вреда для эмали и&nbsp;дёсен.]
						li Удаляем зубной налёт порошком по&nbsp;типу #[strong Air Flow, с&nbsp;эффектом осветления]
						li Проводим фторирование гелем с&nbsp;повышенным содержанием гидроксиапатита&nbsp;&mdash; это максимально #[strong укрепляет эмаль.]
						li Подбираем нужные вам средства гигиены и&nbsp;#[strong проводим урок гигиены.] Вас научат правильно чистить зубы&nbsp;&mdash; только&nbsp;5% людей знают как это делать.
					+e.date.d-none.d-sm-block до 16 сентября
					+e.arrow.d-none.d-lg-block
						img(loading="lazy" src="img/svg/formArrow.svg", alt="")
				+e.formCol.col-lg
					+form-wrap()(class="--form-h")
						+e.headline Профессиональная гигиена полости рта (чистка ультразвуком)
						+e.body
							+e.text.h6 Научим чистить зубы дома так, чтобы стоматологи были не&nbsp;нужны
							+input("+380 (99) 999-99-99",'tel')
							+e.small Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
							+e.btn.btn06(type="submit") Пройти vip-чистку зубов со&nbsp;скидкой

	// end sForm-06
