mixin sForm()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
		.container
			.row
				+e.col.col-lg-auto
					+b.section-title
						h2 #[span.text-primary Записаться на развёрнутую консультацию], даже если вас ничего не беспокоит. Скидка 20%
						strong Многие заболевания вначале проходят незаметно, а потом доставляют много проблем. Большая часть лечится безболезненно на&nbsp;начальной стадии. Главное&nbsp;&mdash; вовремя обнаружить.
					.h5 За 1 час консультации:
					ol
						li Исследуем ротовую полость по&nbsp;передовым протоколам Бернского университета (Швейцария)&nbsp;&mdash; никаких заболеваний не&nbsp;пропустим
						li Приглашаем ортодонтов или имплантологов, делаем снимок, 3D-визуализацию вашей улыбки (при необходимости)
						li #[strong Презентуем план лечения или гигиены], даём развернутые ответы на&nbsp;все ваши вопросы. И&nbsp;всё это понятным языком.
						li #[strong Консилиум наших врачей исследует влияние] всех систем организма на&nbsp;проблему. Комплексно. Составляем план лечения и&nbsp;фиксируем стоимость.
					+e.date.d-none.d-sm-block до 16 сентября
					+e.arrow.d-none.d-lg-block
						img(loading="lazy" src="img/svg/formArrow.svg", alt="")
				+e.formCol.col-lg
					+form-wrap()(class="--form-h")
						+e.headline Запишитесь на проффесиональную консультацию к стоматологу прямо сейчас
						+e.body
							+e.text.h6 Улыбнитесь, #[span.text-primary.typed-js]
							+input("+380 (99) 999-99-99",'tel')
							+e.small Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
							+e.btn(type="submit") Записаться на&nbsp;консультацию

				
	// end sForm

mixin sForm-02()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
		.container
			.row
				+e.col.col-lg-auto
					+b.section-title
						+e.small Стоматология доказательной медицины #[span.text-primary Харькова]
						h2 #[span.text-primary Имплантация зубов под ключ — ]установим импланты № 1 в мире. Без боли, с пожизненной гарантией и с 20% скидкой
						strong Возможна экспресс-имплантация за 1 день
					.h5 На первых двух консультациях:
					ol
						li Проведём #[strong обследование вашей ротовой] полости по передовым протоколам Бернского университета (Швейцария). Сделаем КТ и все необходимые анализы.
						li #[strong Создадим цифровые оттиски зубов] — компьютерную 3D-модель всей полости рта.
						li Виртуально #[strong поставим импланты на вашу 3D модель.] То есть ещё до лечения вы увидите, как будет выглядеть результат.
						li Составим поэтапный план лечения и #[strong укажем фиксированную стоимость.] Меняться она не будет.
					+e.date.d-none.d-sm-block до 16 сентября
					+e.arrow.d-none.d-lg-block
						img(loading="lazy" src="img/svg/formArrow.svg", alt="")
				+e.formCol.col-lg
					+form-wrap()(class="--form-h")
						+e.headline Запишитесь на проффесиональную консультацию к стоматологу прямо сейчас
						+e.body
							+e.text.h6 Гарантируем решение проблемы один раз и на всю жизнь
							+input("+380 (99) 999-99-99",'tel')
							+e.small Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
							+e.btn(type="submit") Записаться на&nbsp;консультацию

mixin sForm-05()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
		.container
			.row
				+e.col.col-lg-auto
					+b.section-title
						+e.small Стоматология доказательной медицины #[span.text-primary Харькова]
						h2 #[span.text-primary Безопасное отбеливание зубов системой Zoom 4 ] последнего поколения за 1,5 часа — без боли, держится 2 года
						p #[strong.text-primary + подарок] индивидуальные капы для домашнего отбеливания. А ещё дарим #[strong 15% скидку]
					.h5 Но сначала бесплатная консультация, на которой:
					ol
						li #[strong Исследуем ротовую полость] по передовым протоколам Universität Bern (Швейцария). Если есть заболевания зубов или дёсен, их нужно лечить.
						li #[strong Порекомендуем профессиональную чистку зубов,] если это будет необходимо. Отбеливать зубной налёт и зубные камни — выкидывать деньги на ветер
						li #[strong Определим, какой цвет эмали вы хотите] и сможем ли мы его достичь, учитывая ваш оригинальный цвет зубов.
					+e.date.d-none.d-sm-block до 16 сентября
					+e.arrow.d-none.d-lg-block
						img(loading="lazy" src="img/svg/formArrow.svg", alt="")
				+e.formCol.col-lg
					+form-wrap()(class="--form-h")
						+e.headline Определим, есть ли у вас противопоказания, и наглядно покажем какой цвет эмали будет после отбеливания
						+e.body
							+e.text.h6 Гарантируем решение проблемы один раз и на всю жизнь
							+input("+380 (99) 999-99-99",'tel')
							+e.small Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
							+e.btn(type="submit") Пройти на бесплатную консультацию
