// start .sExamples
.sExamples {
	
	&__slide {
		min-height: rem(357);
		height: 100% !important;
		width: rem(400);
		display: block;
	}

	&__slider {
		display: flex;
		align-items: center;
	}

	.examples-next, .examples-prev {
		flex-shrink: 0;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		// position: absolute;
		// @include a-cent(y);
		// z-index: 2;
		.icon {
			font-size: rem(18);
		}
	}

	.examples-prev {
		background-color: #e5e5e5;
		.icon {
			margin-right: 2px;
		}
		@include media-breakpoint-up(sm) {
			margin-right: rem(14);
		}
	}

	.examples-next {
		background: #2A03CC;
		.icon {
			margin-left: 2px;
			transform: rotate(180deg);
			color: #fff;
		}
		@include media-breakpoint-up(sm) {
			margin-left: rem(14);
		}
	}

	&__col {
		padding-top: rem(25);
	}

	&__row {
		picture {
			margin-bottom: rem(70);
		}
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sExamples