mixin sReviews()
	// start sReviews
	+b.sReviews.section#sReviews&attributes(attributes)
		+e.bgcWrap
			img(src="img/@2x/sReviews.jpg", alt="")
		.container
			.item
				.row
					.col-md-6
						+e.imgWrap(href="https://youtu.be/5xWnpM7f2gc" data-fancybox="video")
							//- +pic('technology-1','bg','')
							+e.iconWrap
								+icon('play')
					.col-md-6
						.h2 Пациенты нам как семья.<br>Послушайте их&nbsp;истории.
						+e.feedback Тут будет яркий отрывок из всего отзыва. Самая суть сказанного. Лучшая цитата, т.к. далеко не все будут нажимать на plаy, но главное из отзыва они должны понять.
						.row
							+e.col.col-6.col-lg-3
								+e.item
									+icon('advantages-1')
									.h6 #[b 8] лет <br>работает 3D Clinic
							+e.col.col-6.col-lg-3
								+e.item
									+icon('advantages-2')
									.h6 #[b 6 000] зубов<br> спасли от удаления
							+e.col.col-6.col-lg-3
								+e.item
									+icon('advantages-3')
									.h6 #[b 15 000] зубов реставрировано
							+e.col.col-6.col-lg-3
								+e.item
									+icon('advantages-4')
									.h6 #[b 20 000] <br>анестезий




	// end sReviews