
mixin modal() 
	.d-none
		//  start modals

		+b.modal-win(id="modal-call" class=" " style="display: none" )
			+form-wrap
				.form-wrap__head
					.h4.strong Записаться на консультацию   
					 
				+input("+380 (99) 999-99-99",'tel')
					.small Телефон нужен, чтобы договориться о времени записи
				// +e.input-wrap
				.form-wrap__h4.h5.pt-2
					| Когда вам перезвонить?
				label.custom-input.h6
					input.custom-input__input.custom-input__input-radio(checked='' type='radio' name='time' required='required' value='В течение 30 минут')
					span.custom-input__lab.custom-input__lab-radio
					| В течение 30 минут
				label.custom-input.h6
					input.custom-input__input.custom-input__input-radio(type='radio' name='time' required='required' value='С 9-00 до 12-00')
					span.custom-input__lab.custom-input__lab-radio
					| С 9-00 до 12-00
				label.custom-input.h6
					input.custom-input__input.custom-input__input-radio(type='radio' name='time' required='required' value='С 12-00 до 18-00')
					span.custom-input__lab.custom-input__lab-radio
					| С 12-00 до 18-00
				.wrap-polite
					.small.mb-4 Оставляя телефон, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
				button.form-wrap__btn.btn.btn-primary.w-100
					| Отправить
		// #modal-call
		+b.modal-win(id='promlem-caries' class='modal-problem' style="display: none")
			+e.content
				.container
					+e.title.h2 Кариес
					.row
						.mb-3.col-md-6.col-lg-4
							+e.head
								+pic('imgfishsquare')
								.h5.text-secondary Стадия «белого пятна»
							p #[strong Применяем технологию Icon — никакого сверления!]
							p Никак не&nbsp;беспокоит. Чаще всего случайно обнаруживает стоматолог.
							p Наносим специальный гель, который за&nbsp;2&nbsp;минуты удаляет поверхностный слой. Потом смываем его, высушиваем зуб и&nbsp;промываем его раствором этанола. Дальше наносим слой инфильтрата и&nbsp;зуб становится суперустойчивым к&nbsp;кариесу и&nbsp;микротрещинам.
						.mb-3.col-md-6.col-lg-4
							+e.head
								+pic('imgfishsquare')
								.h5.text-secondary Начальный кариес
							p Тоже чаще всего протекает безболезненно. Иногда есть реакция на&nbsp;холод или тепло.
							p Пятна на&nbsp;эмали увеличиваются и&nbsp;проникают глубже в&nbsp;зуб. Тут уже не&nbsp;просто ослабленная эмаль&nbsp;&mdash; она начинает разрушаться.
							p Сверлить придётся. Но&nbsp;вы&nbsp;уже знаете, что с&nbsp;нами это не&nbsp;больно, обычно за&nbsp;1&nbsp;сеанс и&nbsp;с&nbsp;гарантией результата. Окружим вас заботой и&nbsp;комфортом.
						.mb-3.col-lg-4
							+e.head
								+pic('imgfishsquare')
								.h5.text-secondary Средний и глубокий кариес
							p Вначале разрушается верхняя часть дентина, а&nbsp;потом поражаются мягкие ткани вплоть до&nbsp;пульпы. Это очень близко к&nbsp;корню зуба и&nbsp;нервам!
							p Теперь кариес можно увидеть в&nbsp;зеркале. Зуб реагирует на&nbsp;сладкое&nbsp;/ солёное. Есть &laquo;дырка&raquo;, которую можно нащупать языком. Потребуется тщательно удалить все поражённые ткани.
							p Тут очень важна квалификация стоматолога, качество пломбировочного материала и&nbsp;соблюдение протоколов. Мы&nbsp;работает по&nbsp;передовым протоколам Бернского университета.
					+e.btn.btn.btn-primary(href="#") Записаться на консультацию 


		+b.modal-win(id='promlem-gingivitis' class='modal-problem' style="display: none")
			+e.content
				.container
					+e.title.h2 Гингивит
					.row
						.col-md-5
							.h5 Это воспаление дёсен. Вызывает красноту и&nbsp;кровоточивость, но&nbsp;вначале может протекать бессимптомно.
							.h5 Основные причины&nbsp;&mdash; плохая гигиена полости рта, хроническая травма, эндокринные нарушения.
						.col-md-5
							p Встречается у 97% взрослого населения.
							p Заболевание не&nbsp;опасное, если его не&nbsp;запускать. В&nbsp;противном случае может привести к&nbsp;потери зуба.
							p Легко лечится пародонтологом&nbsp;&mdash; чаще всего лечение ограничивается кабинетной чисткой зубов и&nbsp;рекомендациями по&nbsp;домашнему уходу за&nbsp;всей полостью рта. По&nbsp;опыту, 95% людей не&nbsp;умеют ПРАВИЛЬНО чистить зубы.
							p Дальнейшее лечение уже зависит от&nbsp;степени запущенности болезни у&nbsp;конкретного пациента.
							+e.btn.mt-3.btn.btn-primary(href="#") Записаться на консультацию 

		+b.modal-win(id='promlem-periodontitis' class='modal-problem' style="display: none")
			+e.content
				.container
					+e.title.h2 Пародонтит
					.row
						.col-md-5
							.h5 Воспаляются дёсна, слизистая оболочка и атрофируется костная ткань.
							.h5 Итог — зубы расшатываются и выпадают.
							.h5 Это серьёзное заболевание влияет на весь организм — по крови откладываются бляшки на стенках сосудов, поэтому первой страдает сердечно-сосудистая система.
							.h5 Может повышаться температура, мучить слабость. Но пародонтит лечится!
						.col-md-5
							p Если пародонтит не&nbsp;осложнён, то&nbsp;он&nbsp;лечится консервативно&nbsp;&mdash; можно убрать ультразвуком (специальными насадками), убрать из&nbsp;карманов ткань, которая разрастается, сгладить неровности корней зубов...
							p Если пациент пришёл поздно, то&nbsp;лечение хирургическое: отслаивается лоскут и&nbsp;убираются карманы&nbsp;&mdash; углубления между зубом и&nbsp;десной. Если останется хотя&nbsp;бы один карман, бактерия Porphyromonas gingivalis будет быстро разрастаться.
							p Поэтому тут особо важно наше европейское оборудование и&nbsp;высочайшая квалификация стоматолога. А&nbsp;ещё помогает консилиум врачей разных специальностей, который мы&nbsp;обязательно организовываем.
							+e.btn.mt-3.btn.btn-primary(href="#") Записаться на консультацию 

		+b.modal-win(id='promlem-pulpitis' class='modal-problem' style="display: none")
			+e.content
				.container
					+e.title.h2 Пульпит
					.row
						.col-md-5
							.h5 Это нелеченный кариес, добравшийся до пульпы.
							.h5 Пульпа&nbsp;&mdash; источник жизни зуба, там проходят нервные окончания, кровеносные и&nbsp;лимфатические сосуды. Всё это питает твёрдую часть зуба минералами и&nbsp;витаминами.
						.col-md-5
							p Мы&nbsp;применяем все передовые сохраняющие методики, чтобы спасти зуб и&nbsp;не&nbsp;удалять нерв.
							p Если быстро прийти к&nbsp;нам, то&nbsp;точно сможем спасти нерв.
							p Если у&nbsp;вас серозная стадия (определить сможет только стоматолог), то&nbsp;вскрываем нерв, промываем, накладываем биокерамику и&nbsp;спасаем зуб.
							p Пульпит&nbsp;&mdash; это не&nbsp;приговор. Главное&nbsp;&mdash; действовать быстро.
							+e.btn.mt-3.btn.btn-primary(href="#") Записаться на консультацию 

		+b.modal-win(id='promlem-periodontitis-2' class='modal-problem' style="display: none")
			+e.content
				.container
					+e.title.h2 Периодонтит
					.row
						.col-md-4
							.h5 Это распространённое осложнение кариеса и&nbsp;пульпита. Долго не&nbsp;лечили зуб, нерв распался и&nbsp;инфекция вышла за&nbsp;пределы корня.
						.col-md-5
							p Первый этап&nbsp;&mdash; консервативное лечение. Убираем некротизированные ткани канала, промываем, дезинфицируем канал. В&nbsp;итоге перекрыть доступы токсинам, которые находятся за&nbsp;пределами канала&nbsp;&mdash; им&nbsp;нечего кушать и&nbsp;они самоликвидируются.
							p Дальше возможно и&nbsp;хирургическое лечение.
							p Мы&nbsp;сделаем всё, чтобы лечение проходило безболезненно, быстро и&nbsp;без потери зуба.
							+e.btn.mt-3.btn.btn-primary(href="#") Записаться на консультацию 
		// end modals