mixin sAdvantages()
	// start sAdvantages
	+b.sAdvantages#sAdvantages&attributes(attributes)
		.container
			.row
				.col-6.col-md-3
					+e.item
						+icon('advantages-1')
						.h5 #[b 8] лет <br>работает 3D Clinic
				.col-6.col-md-3
					+e.item
						+icon('advantages-2')
						.h5 #[b 6 000] зубов<br> спасли от удаления
				.col-6.col-md-3
					+e.item
						+icon('advantages-3')
						.h5 #[b 15 000] зубов реставрировано
				.col-6.col-md-3
					+e.item
						+icon('advantages-4')
						.h5 #[b 20 000] <br>анестезий
	// end sAdvantages