mixin sGuarantees()
	// start sGuarantees
	+b.SECTION.sGuarantees.section#sGuarantees&attributes(attributes)
		.container
			if block
				block
			else
				
				+b.section-title
					h2 Посмотрите, почему мы уверены в #[span.text-primary пожизненной гарантии] наших имплантов, а пациенты довольны результатом


				+item-tright(1, 'Не&nbsp;причиняем боль&nbsp;&mdash; работаем с&nbsp;компьютерной анестезией или наркозом')
					p Мы&nbsp;первые в&nbsp;Харькове, кто стал использовать компьютерную анестезию. Аппарат со&nbsp;специальным программным обеспечением дозирует обезболивающее со&nbsp;скоростью 1&nbsp;капля в&nbsp;две секунды. Сам укол не&nbsp;чувствуется совсем, обезболивается конкретный зуб, а&nbsp;#[strong не]&nbsp;вся челюсть и&nbsp;щёки, как раньше.
					
					p Иногда используем наркоз. Но&nbsp;только вместе с&nbsp;анестезиологами, с&nbsp;пульсоксиметром, кардиомониторами и&nbsp;готовым аппаратом ИВЛ.

				+item-tleft(2, `Исключаем риски и&nbsp;увеличиваем точность установки благодаря 3D-моделированию`)
					p Проводим КТ&nbsp;верхних и&nbsp;нижних челюстей, #[strong создаём цифровые оттиски зубов]&nbsp;&mdash; компьютерную 3D-модель всей полости рта.
					
					p Дальше виртуально устанавливаем будущие импланты, обходя нервы, сосуды и&nbsp;истончённые места кости. <br>Ещё до&nbsp;начала операции мы&nbsp;выбираем точное местоположение будущего импланта и&nbsp;угол его наклона.
					
					p В&nbsp;планировании принимают участие врачи разных специализаций: хирурги, ортодонты, ортопеды и&nbsp;иногда пародонтологи.

				+item-tright(3, `Можем поставить имплант за&nbsp;1&nbsp;день`)
					p О&nbsp;такой скорости мечтают все пациенты и&nbsp;протоколы одномоментной имплантации это позволяют. Ещё процедуру называют бесшовной, бескровной и&nbsp;моментальной.
					
					p То&nbsp;есть после первой консультации, где был осмотр и&nbsp;сделаны снимки, в&nbsp;нашей лаборатории производится и&nbsp;рассчитывается всё необходимое для имплантации. А&nbsp;на&nbsp;следующей консультации устанавливается абатмент, коронка, и&nbsp;человек сразу&nbsp;же уходит со&nbsp;&laquo;своим&raquo; зубом, полностью готовым к&nbsp;работе.
					
					p Но&nbsp;у&nbsp;этой процедуры есть большой список противопоказаний, поэтому многим людям она не&nbsp;подходит. Возможно, вы&nbsp;будете исключением.
							

								

mixin item-tright(i,h)
	+e.item
		.row
			+e.col.col-lg-6
				+e.img-wrap
					img(src=`img/gif/sGuarantees-${i}.gif`, loading="lazy" alt="")
				//- +e.img-line
				//- 	img(src="img/svg/line.svg", loading="lazy" alt="")
					
			.col-lg-6
				+e.text-block
					.h4!= h
					block

mixin item-tleft(i,h)
	+e.item
		.row
			+e.col.col-lg-6
				+e.img-wrap
					img(src=`img/gif/sGuarantees-${i}.gif`, loading="lazy" alt="")
			.col-lg-6.order-lg-first
				+e.text-block.left
					.h4!= h
					block

			



	// end sGuarantees