extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sGuarantees/_sGuarantees.pug
include ../blocks/sExamples/_sExamples.pug
include ../blocks/sWithFamily/_sWithFamily.pug
include ../blocks/sLocation/_sLocation.pug
include ../blocks/sSpecialist/_sSpecialist.pug
include ../blocks/sMyths/_sMyths.pug
include ../blocks/sReviews/_sReviews.pug

block variables
	- let  mainPage= 'impLines'
block title
	- let  title= 'Имплантация'
	title= title
block pagecontent
	+header()
		+topLine()
		+top-nav(class='d-none d-lg-block')
	+sForm-02(class='bg-light')
	+sExamples()
	
	
	//- +sContact()
	+sGuarantees(class="sGuarantees-bgLight")
	+sWithFamily()
	+sReviews()
	+sSpecialist('sl')
	+sMyths(class="bg-dark")
	+sLocation('t')

	+footer()


	