// start .sLocation
.sLocation {
	background-color: #393b4a;
	color: #fff;
	letter-spacing: rem(-0.5);

	h2 {
		text-transform: uppercase;
	}

	.fz{
		font-size: rem(25);
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 1.2);
	}

	.h5 {
		max-width: 239px;
		font-weight: bold;
		line-height: 163.5%;

	}

	&__contactWrap {
		padding-left: 24px;
		padding-bottom: rem(45);
		padding-top: rem(20);
	}

	.pl{
		@include media-breakpoint-up(sm){
			padding-left: 0;
		}
		padding-left: 24px;
	}

	&__time {
		font-weight: 400;
		margin-bottom: rem(65);
	}

	&__phone {
		@extend .h5;
		display: block;
		color: #fff !important;
		margin-bottom: .9rem;
		&:hover {
			opacity: .6;
		}
	}

	p {
		margin-bottom: rem(18);
		line-height: calc(20/16);
	}

	&__col {
		padding-top: calc(var(--sPT) / 1.09);
		padding-bottom: calc(var(--sPB) / 1.5);
	}

	&__mapWrap {
		min-height: rem(320);
		height: 100%;
		// width: 100%;
		position: relative;
		@include media-breakpoint-up(lg) {
			margin-right: calc(-1 * (100vw - 208%) / 2);
		}

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__wrap {
		@include media-breakpoint-up(sm) {
			display: flex;
			justify-content: space-between;
		}
		max-width: rem(490);

		@include media-breakpoint-down(sm) {
			.sLocation__time {
				padding-top: rem(30);
				padding-left: 24px;
				margin-bottom: rem(20);
			}
		}
	}





	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sLocation