mixin sMyths()
	// start sMyths
	+b.SECTION.sMyths.section#sMyths&attributes(attributes)
		.container
			+b.section-title
				h2 А теперь бонус для тех, кто прочитал почти до конца, — мифы про импланты
				
			.row
				+e.col.col-lg-8
					+e.text
						+e.title 01 миф
						.h5 Импланты редко приживаются
						+e.link(href="#") 
							span А на самом деле
							+icon('arrow-r-long')
					+pic('myths-1')
				+e.col.col-lg-4
					+e.text
						+e.title 02 миф
						.h5 Импланты долго устанавливаются
						+e.link(href="#") 
							span А на самом деле
							+icon('arrow-r-long')
				+e.col.col-lg-8
					+pic('myths-2')
					+e.text
						+e.title 03 миф
						.h5 Импланты — это дорого, их могут себе позволить только богатые люди
						+e.link(href="#") 
							span А на самом деле
							+icon('arrow-r-long')
				+e.col.col-lg-4
					+pic('myths-3')
					+e.text
						+e.title 04 миф
						.h5 Импланты устанавливать больно
						+e.link(href="#") 
							span А на самом деле
							+icon('arrow-r-long')
				+e.col.col-lg-5
				+e.col.col-lg-4
					+e.text
						+e.title 05 миф
						.h5 Потеряли зуб — не страшно, можно установить импланты когда-нибудь потом
						+e.link(href="#") 
							span А на самом деле
							+icon('arrow-r-long')
	// end sMyths