// start .topLine
.topLine {
	padding-top: 3px;
	// padding-bottom: 3px;
	@include media-breakpoint-down(md) {
		padding-top: rem(5);
		padding-bottom: rem(5);
	}

	&__col {
		padding-left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media-breakpoint-up(xl) {
			padding-right: rem(50);
		}
	}

	.toggle-menu-mobile {
		margin-right: 10px;
		@include media-breakpoint-up(xl) {
			margin-right: rem(50);
		}
		margin-left: rem(11);
	}

	&__location {
		// display: flex;
		align-items: center;
		color: $dark;
		margin-bottom: 10px;

		.icon {
			color: $secondary;
			font-size: rem(40);
			margin-right: 5px;
			@include media-breakpoint-up(xl) {
				margin-right: rem(24);
			}
		}

		span {
			max-width: rem(155);
			font-size: $small;

		}
	}

	&__phone {
		display: inline-flex;
		align-items: center;
		// font-size: 23px;
		// @include media-breakpoint-up(xl) {
		// 	font-size: $h5-font-size;
		// }
		@extend .h5;
		// margin-bottom: 0;
		margin-bottom: 11px;

		a {
			color: $dark;
			font-weight: 700;
			@include mt;
			letter-spacing: rem(-0.5);
		}

		.icon {
			font-size: rem(32);
			@include media-breakpoint-up(lg) {
				color: $secondary;
			}
			margin-right: 5px;
			@include media-breakpoint-up(xl) {
				margin-right: rem(35);
			}
		}

		img {
			max-width: 32px;
		}

		&:hover {
			span {
				color: $primary;
			}
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		min-width: rem(235);
		margin-bottom: 10px;
		letter-spacing: rem(-0.5);
	}










	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine