// start .topLine
.topLine {
	padding-top: 3px;
	padding-bottom: 3px;

	&__col {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.toggle-menu-mobile {
		margin-right: rem(50);
		margin-left: rem(11);
	}

	&__location {
		display: flex;
		align-items: center;
		color: $dark;
		font-size: $small;

		.icon {
			color: $secondary;
			font-size: rem(40);
			margin-right: rem(24);
		}

		span {
			max-width: rem(145);
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		font-size: $h2-font-size;

		span {
			color: $dark;
			font-weight: 700;
			@include mt;
		}

		.icon {
			font-size: rem(22);
			color: $secondary;
			margin-right: rem(38);
		}

		&:hover {
			span {
				color: $primary;
			}
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		min-width: rem(235);
	}










	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine