mixin sProblem()
	// start sProblem
	+b.SECTION.sProblem.section#sProblem&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sProblem
				
			+problemItem('1','Лозовая Анна Романовна')(class="bg-primary problemItem--lg")
				.h6 Сохраните зубы на долгие годы
				.h4 Комплексная чистка
			.row
				.col-md-6
					+problemItem('1','Лозовая Анна Романовна')(class="bg-secondary")
						.h6 Сделайте зубы, как у голливудских звёзд
						.h4 Отбеливание зубов
				.col-md-6
					+problemItem('2','Левицкая Виктория Витальевна')(class="bg-primary")
						.h6 Скройте недостатки зубов
						.h4 Виниры
				.col-md-6
					+problemItem('3','Лозовая Анна Романовна')(class="bg-primary")
						.h6 Забудьте о кариесе, гингивите, пульпите
						.h4 Лечение зубов
				.col-md-6
					+problemItem('4','Шевцов Александр Александрович')(class="bg-secondary")
						.h6 Поставьте импланты №1 — без боли и с гарантией
						.h4 Импланты навсегда
	// end sProblem

mixin problemItem(i,name)
	+b.problemItem(href="#")&attributes(attributes)
		+e.imgWrap
			img(src="img/svg/problemItem-bg.svg", alt="alt")
		.row
			.col-sm-6
				block
				.h5 от X XXX грн
				+e.btn
					+icon('arrow-r')
			+e.col.col.align-self-end
				+e.name= name
				+pic(`person-${i}`)