mixin sSafety()
	// start sSafety
	+b.SECTION.sSafety.section#sSafety&attributes(attributes)
		.container
			+b.section-title
				h2 Самое важное, что мы хотим сказать, — эта процедура стала #[span.text-primary абсолютно безопасной]. А не как раньше.
				
			+e.row.row
				.col-lg
					h5 #[strong Укрепляем эмаль и дентин,] а не как предыдущие&nbsp;лампы...
				.col-lg
					p Мы&nbsp;снизили концентрацию перекиси водорода до&nbsp;25%. К&nbsp;тому&nbsp;же наш гель содержит не&nbsp;только перекись водорода, но&nbsp;и&nbsp;фосфат кальция&nbsp;&mdash; он&nbsp;заполняет пустоты после вымывания клеток пигмента и&nbsp;этим укрепляет эмаль.
			+e.row.row
				.col-lg
					h5 Используем специальное средство, которое #[strong уменьшает чувствительность зубов.]
				.col-lg
					p Это реминерализующее средство – Philips Relief ACP. Оно сокращает период повышенной чувствительности эмали до 8-10 часов
			+e.row.row
				.col-lg
					h5 #[strong Безболезненно,] так как меньше времени воздействия и меньше нагреваются ткани.
				.col-lg
					p Волны УФ-ламп стали более протяжёнными, а&nbsp;это сократило время воздействия без потери интенсивности осветления. Значит, уменьшило и&nbsp;нагрев тканей.
			+e.row.row
				.col-lg
					h5 Подстраиваем мощность лампы под конкретного пациента (раньше так нельзя было сделать!)
				.col-lg
					p Теперь есть несколько режимов мощности света, исходя из&nbsp;индивидуальных особенностей зубов пациентов и&nbsp;его пожеланий.
			+e.price
				h4 Стоимость:
				h4 #[strong хх ххх грн за отбеливание всех зубов]
				+e.btn(href="#") Записаться на бесплатную консультацию



	// end sSafety