mixin sSafety()
	// start sSafety
	+b.SECTION.sSafety.section#sSafety&attributes(attributes)
		.container
			+b.section-title
				h2 Самое важное, что мы хотим сказать, — эта процедура стала #[span.text-primary абсолютно безопасной]. А не как раньше.
				
			+e.row.row
				.col-lg
					h5 #[strong Укрепляем эмаль и дентин,] а не как предыдущие&nbsp;лампы...
				.col-lg
					p Мы&nbsp;снизили концентрацию перекиси водорода до&nbsp;25%. К&nbsp;тому&nbsp;же наш гель содержит не&nbsp;только перекись водорода, но&nbsp;и&nbsp;фосфат кальция&nbsp;&mdash; он&nbsp;заполняет пустоты после вымывания клеток пигмента и&nbsp;этим укрепляет эмаль.
			+e.row.row
				.col-lg
					h5 Используем специальное средство, которое #[strong уменьшает чувствительность зубов.]
				.col-lg
					p Это реминерализующее средство – Philips Relief ACP. Оно сокращает период повышенной чувствительности эмали до 8-10 часов
			+e.row.row
				.col-lg
					h5 #[strong Безболезненно,] так как меньше времени воздействия и меньше нагреваются ткани.
				.col-lg
					p Волны УФ-ламп стали более протяжёнными, а&nbsp;это сократило время воздействия без потери интенсивности осветления. Значит, уменьшило и&nbsp;нагрев тканей.
			+e.row.row
				.col-lg
					h5 Подстраиваем мощность лампы под конкретного пациента (раньше так нельзя было сделать!)
				.col-lg
					p Теперь есть несколько режимов мощности света, исходя из&nbsp;индивидуальных особенностей зубов пациентов и&nbsp;его пожеланий.
			+e.price
				h4 Стоимость:
				h4 #[strong хх ххх грн за отбеливание всех зубов]
				+e.btn(href="#") Записаться на бесплатную консультацию



	// end sSafety


mixin sSafety-03()
	// start sSafety-03
	+b.SECTION.sSafety.section#sSafety&attributes(attributes)
		.container
			+b.section-title.veneers-title
				h2 А&nbsp;чтобы эффект от&nbsp;виниров сохранился надолго, мы&nbsp;одни из&nbsp;первых стали изготавливать их&nbsp;из&nbsp;немецкой #[span.text-primary керамики по&nbsp;технологии Е-max]
				
			+e.row.row
				.col-lg
					h5 Наши виниры #[strong прочнее] обычных керамических&nbsp;&mdash; есть пациенты, которые ходят с&nbsp;ними уже #[strong 20&nbsp;лет]
				.col-lg
					p Изготавливаем их&nbsp;из&nbsp;особо прочного вида стеклокерамики&nbsp;&mdash; дисиликата лития. Он&nbsp;выдерживают нагрузку около 400&ndash;500&nbsp;МПа, почти как бетон или металл.
			+e.row.row
				.col-lg
					h5 Наши виниры абсолютно безопасны&nbsp;&mdash; #[strong не]&nbsp;изменяются со&nbsp;временем, #[strong не]&nbsp;токсичны и&nbsp;#[strong не]&nbsp;аллергичны
				.col-lg
					p Адгезивная фиксация исключает микропротекание&nbsp;&mdash; виниры прилегают к&nbsp;зубу с&nbsp;точностью до&nbsp;микрона. Нет щелей куда&nbsp;бы проникала слюна. Поэтому зубы защищены от&nbsp;кариеса, а&nbsp;дёсны&nbsp;&mdash; от&nbsp;воспаления.
			+e.row.row
				.col-lg
					h5 Наши виниры выглядят, как родные зубы&nbsp;&mdash; никто их&nbsp;не&nbsp;отличит
				.col-lg
					p Виниры пропускают свет, они полупрозрачные, поэтому выглядят натурально.
			+e.row.row
				.col-lg
					h5 Наши виниры пятноустойчивы, #[strong не]&nbsp;желтеют. На&nbsp;них #[strong не]&nbsp;скапливается налёт, #[strong не]&nbsp;образуется камень
				.col-lg
					p Материал не&nbsp;пористый (в&nbsp;отличии от&nbsp;натуральной зубной эмали). Поэтому он&nbsp;не&nbsp;впитает оттенки красящих продуктов и&nbsp;не&nbsp;темнеет от&nbsp;кофе и&nbsp;сигарет.
			+e.price
				+e.row.row
					.col-lg
						p Можно дешевле. Например, сделать винир из&nbsp;диоксида циркония с&nbsp;обжигом в&nbsp;печи, без фрезерного производства, но&nbsp;он&nbsp;получится чрезвычайно хрупким, и&nbsp;прослужит недолго.
					.col-lg.order-lg-first
						h4 Стоимость:
						h4 #[strong хх ххх грн за 1 винир]
						+e.btn(href="#") Записаться на бесплатную консультацию
	// end sSafety-03