mixin sSafety()
	// start sSafety
	+b.SECTION.sSafety.section#sSafety&attributes(attributes)
		.container
			+b.section-title
				h2 Самое важное, что мы хотим сказать, — эта процедура стала #[span.text-primary абсолютно безопасной]. А не как раньше.
				
			.row
	// end sSafety