mixin sWithFamily()
	// start sWithFamily
	+b.SECTION.sWithFamily.section#sWithFamily&attributes(attributes)
		+pic('whithFamily-bg','bg','')(class="picture-bg")
		.container
			+b.section-title
				h2 Ви&#769;дите, в&nbsp;нашу цифровую стоматологию нового поколения 3D Clinic не&nbsp;страшно ходить всей семьёй
				
			+e.row.row
				.col-md-5
					p #[strong Новое поколение в&nbsp;стоматологии 3D&nbsp;Clinic&nbsp;&mdash;] это, когда анестезию делает аппарат со специальным программным обеспечением, дозируя обезболивающее со&nbsp;скоростью 1&nbsp;капля в&nbsp;две секунды. Сам укол не&nbsp;чувствуется совсем.
					p Это компьютерная томография, сканирование полости рта и&nbsp;лица, виртуальный дизайн улыбки, лечение только под микроскопом CARL ZEISS, печать 3D&nbsp;шаблонов и&nbsp;фрезеровка будущих зубов.
				.col-md-5
					p #[strong Комфорт в&nbsp;3D&nbsp;Clinic&nbsp;&mdash;] это, когда утопаешь в 8&#8209;позиционном кресле с&nbsp;дополнительными валиками для спины и&nbsp;шеи, а&nbsp;во&nbsp;время процедур смотришь интересный фильм в&nbsp;очках.
					p Самая частая фраза в&nbsp;нашей<br> стоматологии: &laquo;Уже всё??&raquo;.
			.row
				+e.col.col-lg-3
					+pic('WithFamily-1.png')
					+e.text #[strong 3D-принтер] с&nbsp;точностью печати в&nbsp;25&nbsp;микрон работает с&nbsp;безвредными материалами, сертифицированными в&nbsp;Европе
				+e.col.col-lg-5
					+e.text То самое удобное 8-позиционное #[strong кресло] Sirona C2+
					+pic('WithFamily-2.png')
				+e.col.col-lg-4
					+pic('WithFamily-3.png')
					+e.text #[strong Микроскоп CARL ZEISS] увеличивает изображения в 12,5 раз — не пропустит остатки кариеса
				+e.col.col-lg-6
				+e.col.col-lg-6
					+e.text Томограф ORTHOPHOS SL 3D&nbsp;даёт самую полную и высокоточную диагностику всей зубочелюстной системы
					+pic('WithFamily-4.png')
	// end sWithFamily